.footer__promo-field-mobile {
  width: 100%;
  height: 33px;
  border-radius: 30px;
  font-size: 1.2rem;
  border: 1px solid #bdbdbd;
  padding-left: 18px;
  background-color: #eee;
}

.footer__promo-field-mobile:focus {
  border: 1px solid #dedede;
}

.footer__promo-field-mobile::placeholder {
  color: #bdbdbd;
}
