.header__burger {
  display: none;
}

@media (max-width: 1440px) {
  .header__burger {
    display: block;
    background-image: url(../../../img/svg/burger.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    margin-left: 15px;
  }
}
