.footer__promo-mobile {
  display: none;
  padding: 22px 10px 20px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #e8e8e8;
}

@media (max-width: 1440px) {
  .footer__promo-mobile {
    display: block;
  }
}
